 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body {
            background: #5e603a;
            color: #fff;
        }

        header{
            width:100%;
            height:90px;
            background:#5e603a;
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:0 50px;
            border-bottom:2px solid rgba(255,255,255,.3);
        }

         .right {
            border-left: 2px solid rgba(255, 255, 255, .3);
            padding-left: 35px;
        }

        /* ==========================
        LOGO
        ========================== */
        .logo{
            display:flex;
            align-items:center;
            transform: translateX(-45px);
        }
        
        .logo-circle{
            position:relative;
            width:140px;
            height:90px;
            display:flex;
            justify-content:center;
            align-items:center;
        }

       .logo-circle img{
            position:absolute;
            width:100px;
            height:100px;
            object-fit:contain;
            top:1px;
        }
        .logo-svg{
            position:absolute;
            width:180px;
            height:100px;
            transform:translateY(-1px);
        }

        .logo-svg text{
            fill:#ffffff;
            font-size:18px;
            font-weight:700;
            letter-spacing:3px;
            text-transform:uppercase;
        }

        /* ==========================
        NAVIGATION
        ========================== */

        nav{
            display:flex;
            align-items:center;
            gap:20px;
        }

        nav a{
            text-decoration:none;
            background:#f2f2f2;
            color:#5e603a;
            padding:15px 35px;
            border-radius:50px;
            font-size:18px;
            font-weight:600;
            transition:0.3s;
        }

        nav a:hover,
        nav a.active{
            background:#ffffff;
            transform:translateY(-2px);
        }